* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div.content {
  padding: 20px;

  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;

  > div {
    border: 1px solid purple;
  }
}


/* PROJECTS */
div.projects {
  > .tab {
    background-color: lightgoldenrodyellow;
    border: 1px dashed orange;
  }
}


/* TODO LIST */
div.todos {
  > .tab {
    background-color: lightgoldenrodyellow;
    border: 1px dashed orange;
  }
}