* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div.content {
  padding: 20px;

  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;

  > div {
    border: 1px solid purple;
  }
}


/* CONTAINERS */
.container {
  display: grid;
  grid-template-rows: 1fr auto;
}


/* PROJECTS */
div.projects {
  > .tab {
    background-color: lightgoldenrodyellow;
    border: 1px dashed orange;

    &[data-status="open"] {
      background-color: orange;
    }
  }
}


/* TODO LIST */
div.todos {
  > .tab {
    background-color: lightgoldenrodyellow;
    border: 1px dashed orange;
    display: grid;
    grid-template-columns: 1fr auto auto;
    > p {
      margin-right: auto;
    }
    .note {
     background-color: whitesmoke;
     margin: 5px;
     grid-column: 1/4;
     border: 1px solid grey;
    }
  }
}


/* FORMS */
dialog {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}